body{
    margin: 0;
    background-color: #C1D8C3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
}

header{
    padding: 1.8rem;
    font-size: 1.3rem;
}

#calculator{
    font-family: Arial;
    border-radius: 15px;
    background-color: hsl(0 , 0% , 15%);
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    border: none;
    text-align: left;
    background-color: hsl(0 , 0% , 20%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3rem;
    padding: 25px;
}

button{
    width: 6rem;
    height: 6rem;
    background-color: rgb(94, 81, 81);
    border-radius: 50px;
    border: none;
    margin: 0.5rem;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(117, 100, 100);
}

button:active{
    background-color: rgb(117, 100, 100);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);
}


.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
 
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
} 
fg
/* 
@media (min-width: 480px) {
    #calculator{
        height: calc(50% - 20rem);
        width: 40rem;

    }
    #keys{
        grid-template-columns: repeat(4, 0.5fr);
        gap: 2px;
        margin: 0 20px;
        height: 3rem;
        width: 3rem;
    }
    body{
        
        margin: 2rem;
    }
    
} */
